<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수정</title>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="container">

<h2>글 수정</h2>

<% if(error){ %>
  <div class="error"><%= error %></div>
<% } %>

<form method="POST">

<input name="title" value="<%= post.title %>" required>

<textarea name="content" rows="10"><%= post.content_html %></textarea>

<% if(!admin){ %>
  <input type="password" name="edit_password" placeholder="수정 비밀번호">
<% } %>

<div class="bottom-btns">
  <button class="btn">수정 저장</button>
  <a href="/post/<%= post.id %>" class="btn cancel">수정취소</a>
</div>

</form>

</div>

</body>
</html>
