<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>글쓰기</title>
  <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
  <h1>새 글 작성</h1>

  <a class="btn" href="/">목록으로</a>

  <br /><br />

  <form method="post" action="/write">
    <input type="text" name="title" placeholder="제목" required />
    <br /><br />
    <textarea name="content" placeholder="내용" required></textarea>
    <br /><br />
    <button type="submit">등록</button>
  </form>
</body>
</html>
