<form method="POST">

<input name="author" placeholder="작성자"><br>
<input name="title" placeholder="제목"><br>
<textarea name="content"></textarea><br>

<% if (!admin) { %>
<input name="password" placeholder="비밀번호"><br>
<% } %>

<button>등록</button>
</form>
