<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="container">

<h2>글쓰기</h2>

<% if(error){ %>
  <div class="error"><%= error %></div>
<% } %>

<form method="POST">

<input name="title" placeholder="제목">

<% if(!admin){ %>
<input name="author_name" placeholder="작성자">
<input type="password" name="edit_password" placeholder="수정 비밀번호">
<% } %>

<textarea name="content" rows="10"></textarea>

<div class="bottom-btns">
  <button class="btn">등록</button>
  <a href="/" class="btn cancel">취소</a>
</div>

</form>

</div>

</body>
</html>
