<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>관리자 비밀번호 변경</title>
  <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
  <h1>관리자 비밀번호 변경</h1>

  <a class="btn" href="/">목록으로</a>

  <br /><br />

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <% if (success) { %>
    <p style="color:green;"><%= success %></p>
  <% } %>

  <% if (newHash) { %>
    <div class="hash-box">
      <strong>새 해시값:</strong>
      <div><%= newHash %></div>
    </div>

    <br />

    <p>
      이 값을 복사해서 Render의
      <strong>ADMIN_PASSWORD_HASH</strong>
      환경변수에 붙여넣고 저장하면 새 비밀번호가 적용됩니다.
    </p>
  <% } %>

  <form method="post" action="/change-password">
    <input
      type="password"
      name="currentPassword"
      placeholder="현재 비밀번호"
      required
    />
    <br /><br />

    <input
      type="password"
      name="newPassword"
      placeholder="새 비밀번호"
      required
    />
    <br /><br />

    <input
      type="password"
      name="confirmPassword"
      placeholder="새 비밀번호 확인"
      required
    />
    <br /><br />

    <button type="submit">비밀번호 변경</button>
  </form>
</body>
</html>